type       = scripted
command    = /usr/lib/dinit/vconsole console
restart    = false
depends-on = early-devices.target
depends-on = early-fs-local.target
waits-for  = early-keyboard.target
